
.trans-flag-background {
background: linear-gradient(
    to bottom,
    #5bcefa 0%,    /* Light Blue */
    #5bcefa 20%,
    #f5a9b8 20%,   /* Pink */
    #f5a9b8 40%,
    #ffffff 40%,   /* White */
    #ffffff 60%,
    #f5a9b8 60%,   /* Pink */
    #f5a9b8 80%,
    #5bcefa 80%,   /* Light Blue */
    #5bcefa 100%
);
}
.container{
    padding-top: 50px;

    width:600px
}

h3{
    color:whitesmoke;
    font-size:20px;
}

h1{
    color:#f5a9b8;
}

h4{
    color:rgb(162, 215, 233);
    margin-top: 40px;
}

.some-class {
    width:300px; /*medium width*/
    height:40px;/*medium height*/
    background-image: url('/static/images/IMG-20250616-WA0007.jpg');
    background-size: contain;/*or use 'cover'if you want it to fill the box*/
    background-repeat:no-repeat;
    background-position: center;
    border-radius:8px;/*Optinal:rounded corners*/
    margin:20px auto;/*Optional: center on the page*/
}