

.asexual-flag-background {
  /* Set a minimum height to ensure the gradient is visible */
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(#000000,#A3A3A3,#FFFFFF,#800080);
  background-size:cover

}

/* Optional: Style for readability */
h1 {
    color: var(--asexual-grey);
    text-align: center;
    padding: 2em;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.item{
    border:solid 1px goldenrod;
    display:flex;
    align-items: center;
    padding: 16px;
    margin-top: 16px;
    background:rgb(229, 224, 228);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(174, 92, 163, 0.2);
}

img{
    height: 80px;
    width:auto;
    max-width :120px; 
    border-radius:8px ;
    object-fit:cover;
    margin-right: 16px;

}

.item label{
    margin-left: auto;
    font-weight:bold ;
    font: size 20px;
    color: rgb(145, 8,120);
}