
h1{
    text-align:center ;
    color: rgb(231, 207, 243);
    padding:20px ;
}
body {
    background: linear-gradient(135deg,rgb(88, 11, 127), darkorchid, #c248bc);
    min-height: 100vh;
}
.product{
    border:1px solid gold;
    width:200px;
    text-align: center;
    display:inline-block;
    margin:12px;
    padding:10px;
    height: 300px;
    vertical-align: top;
    background:chartreuse ;
    box-shadow:  0 2px 8px rgb(188, 147, 198) ;
}

.product img {
    height:125px;
    max-width: 90%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:8px;
    object-fit:cover;
}

.product label {
    display: block;
}