/* ...existing code... */

body{
    background:linear-gradient(#FF218c,#FFD800,#21B1FF)
}

details {
    text-align: center;
    margin-top: 12px;
}

main {
    min-height: 95vh;
}

h1 {
    color: rgb(222, 203, 220);
    text-align:center;
    padding-top:20px ;
}

h5{
    color: rgb(236, 232, 14);
    font-size:14px ;
    text-align: center;
}

form{
    border:1px solid rgb(33, 165, 231);
    padding:12px;
    border-radius: 4px;
    width:260px;
    background-color:rgb(200, 89, 228);
    margin-top:20px;
    margin-left:auto;
    margin-right: auto;


}

img{
    height:225px;
    width:200px;
    border-radius: cover;
}


img:hover{
    border:2px solid tomato;
    height:225px;
    transition: height 0.3s ease;
    border-radius: 10px;
}

.list {
    text-align: center;
}

details {
    text-align: center;
    margin-top: 12px;
}





