/* ...existing code... */
.progress-pride-background {
background:
    linear-gradient(135deg, #000000 16.67%, #613915 16.67%, #613915 33.33%, #74D7EE 33.33%, #74D7EE 50%, #FFAFC8 50%, #FFAFC8 66.67%, #FFFFFF 66.67%, #FFFFFF 83.33%),
    linear-gradient(to bottom, #E40303, #FF8C00, #FFED00, #008026, #24408E, #732982);
}

h1{
    color:rgb(244, 216, 216);
    text-align: center;

}
form{
    border:1px solid white;
    border-radius: 6px;
    background-color:chartreuse;
    padding:20px;
    width:280px;
    margin-left:auto;
    margin-right:auto;
}

.list{ 
    text-align:center;
}
