h1{
    color:chartreuse;
    text-align: center;

}

form{
    border:1px solid gold;
    border-radius: 6px;
    background-color: rgb(36, 193, 193);
    padding:20px;
    width:280px;
    margin-left:auto;
    margin-right:auto;
}

.list{ 
    text-align:center;
}
