<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/about.css" rel="stylesheet">
</head>
<body class ="trans-flag-background">

<main class ="conatiner">
    {% include 'navbar.html'%}
    
    <div class="text-center">
        <h3> Page by:</h3>
        <h1> Patrick Lewis</h1>



        <h1> About me:</h1>
        
        <p> Im out and proud trans guy.</p>
        <p> Happy pride month! </p>
    <img src="static/Img/IMG-20250616-WA0007.jpg">
    </div>

</main>
</body>
</html>



