<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/about.css" rel="stylesheet">
</head>
<body>

<main class ="conatiner">
    <h3> Page by:</h3>
    <h1> Patrick Lewis</h1>

    {% include 'navbar.html'%}

    <h1> About me:</h1>
    <p> Im out and proud trans guy.</p>
</main>
</body>
</html>



<form>
    <input type="url" placeholder="URL of ypur image">
    <button></button>
</form>