<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="/static/css/contact.css" rel="stylesheet">
</head>

<body>

    {% include 'navbar.html'%}

    <main>
    <h3>Use the form below to say Hi!</h3>

        <form class="container">
            <div class="mb-3">
                <label class="form-label">Your Name</label>
                <input type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Your Email</label>
                <input type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Your Message</label>
                <textarea rows="3" class="form-control"></textarea>
            </div>

            <div class="mb-3 button-div">
                <button class="btn btn-dark">Send message</button>
            </div>
        </form>
    </main>

</body>

</html>
