<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Super to DoList</title>
    <link href ="/static/css/home.css" rel="stylesheet">
</head>

{% include 'navbar.html'%}
<main class="container">

  <h1> My Super ToDo List</h1>


<form action="/add" method="POST">
    <input name="todo" type="text" placeholder="Your todo here">
    <button type="submit" class="btn btn-sm btn-primary">Save</button>
  </form>

  <!--<ul class="list">
    <li> Get almond milk</li>
    <li> walk the dog</li>
    <li> Take out the trash</li>
  </ul>-->
  
  
  <ul class="list-group">
    {% for todo in todo_list_identifier %}
      <li class="list-group-item">{{todo}}</li>
    {% endfor %}
  </ul>

</main>



</body>

</html>